body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:120px;
  width:616px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:84px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:46px;
  width:306px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:240px;
  width:616px;
  height:211px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:211px;
}
#u5 {
  position:absolute;
  left:2px;
  top:98px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:62px;
  top:530px;
  width:636px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:112px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:1613px;
  width:126px;
  height:172px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:172px;
}
#u9 {
  position:absolute;
  left:2px;
  top:78px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:286px;
  top:1590px;
  width:378px;
  height:261px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:261px;
}
#u11 {
  position:absolute;
  left:2px;
  top:122px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:62px;
  top:760px;
  width:536px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  line-height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:62px;
  top:798px;
  width:586px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  line-height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:70px;
  top:973px;
  width:586px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:1008px;
  width:244px;
  height:252px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:252px;
}
#u19 {
  position:absolute;
  left:2px;
  top:118px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:2062px;
  width:632px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  line-height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:412px;
  top:955px;
  width:244px;
  height:515px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:515px;
}
#u23 {
  position:absolute;
  left:2px;
  top:250px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:60px;
  top:1455px;
  width:366px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:84px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:60px;
  top:1380px;
  width:200px;
  height:56px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:56px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:60px;
  top:854px;
  width:518px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  line-height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:304px;
  top:1045px;
  width:130px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:4px;
  width:130px;
  height:3px;
}
#u31 {
  position:absolute;
  left:60px;
  top:2012px;
  width:99px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#A1A1A1;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
