body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u1184 {
  position:absolute;
  left:60px;
  top:46px;
  width:420px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1186 {
  position:absolute;
  left:702px;
  top:198px;
  width:420px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u1188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1188 {
  position:absolute;
  left:60px;
  top:198px;
  width:420px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1190 {
  position:absolute;
  left:153px;
  top:2929px;
  width:481px;
  height:28px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u1192 {
  position:absolute;
  left:154px;
  top:2957px;
  width:481px;
  height:28px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u1194 {
  position:absolute;
  left:62px;
  top:2916px;
  width:82px;
  height:82px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  position:absolute;
  left:34px;
  top:2995px;
  width:632px;
  height:100px;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:1585px;
}
#u1198 {
  position:absolute;
  left:702px;
  top:258px;
  width:626px;
  height:1585px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:784px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:2519px;
}
#u1200 {
  position:absolute;
  left:60px;
  top:258px;
  width:626px;
  height:2519px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:1252px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
